$primary: #ffc90e;

@import '~bootstrap/scss/bootstrap.scss';

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  ul {
      padding: 0;

      li {
        margin: 20px 0 20px 0;
      }
  }

  button {
    margin: 5px;
  }

  // .test {
  //   box-shadow: 0 2px 30px -1px #ffc90e;
  // }
  