body {
  // background-color: #dddddd;
}

header {
  background-color: #ffc90e;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
  
  #logo {
    width: 150px;
    height: 150px;
    background-image: url(./img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
        
  }

  #header__text {
    margin-right: 50px;
    font-size: 40px;
    font-weight: bold;
  }
}


// logo color #ffc90e